<!DOCTYPE html>

<html>

<head>
    <title>Weather App</title>
    <link rel='stylesheet' href="./css/styles.css">
    <link rel='icon' href="/images/weather.png">
  
</head>

<body>
    <div class="body-content">
        {{>header}}

        <form>
            <input label='location' placeholder="Your Location" />
            <button> Search </button>

        </form>

        <p id="msg1"></p>
        <p id="msg2"></p>
        <p id="msg3"></p>
    </div>
    {{>footer}}

    <script src="js/app.js"></script>
</body>

</html>